
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
main{ margin-top:64px;}
.App-title {
  font-size: 1.5em;
}
.center {
  margin: auto;
  text-align: center;
}
.vertical-center{
  position: absolute;
  margin: auto;
}
.contacticon{
  height: 40px;
}
.salonchoose_1{
    width: 97% !important;
    background: green;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    margin-left: -11px !important;
    margin-top: 50px !important;
}
.rating1 {
  color: #030101e0;
  text-transform: uppercase;
  padding-top:10px;
  font-size: 12px;
  font-weight: 700;
}
.subscription-xr {
  max-Width: 753px;
  margin: 0 auto;
}
.leftside_header{
  margin-left: 17%;
  border-top: 1px solid #00000057;
  margin-top:20px;
  
}
.transformtxt {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    /* white-space: nowrap; */
    text-align: -webkit-center !important;
    font-size: 30px;
   color: black;
}
.transformtxt_1 {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  /* white-space: nowrap; */
  text-align: -webkit-center !important;
  font-size: 30px;
 color:#fff;
}
.vl {
  border-left: 1px solid #00000057;
  height: 218px;
  margin-left: 39%;
}
.vl_1 {
  border-right: 1px solid #fff;
  height: 40px;
  margin-top: 44px;
}

.third_paragraph{
  height: auto; 
  background:#4f4f4f;
  z-index: -5;
  padding-bottom: 37px;
  
}
.salonchn{
  font-size: 15px !important;
}
.lakmebb{
  font-size: 15px !important;
}
.fifth_paragraph{
  height: auto;
  background: #848484;
  padding-bottom: 0px;
}
.mnth{
  margin-left: 10%;
  padding-bottom: 25px;
}

.franchise{
  line-height: 1.3;
}
.diffsa{
  text-align: center;
    margin-top: 3%;
    color: #fff;
    letter-spacing: 5px;
    font-size: 41px;
    padding-bottom: 30px;
}
.topx{
  font-size: 23px;
  font-weight: 550;
}
.smtsw{
  font-size: 23px;
  font-weight: 700;
  color: #000000e0;
  text-align: center;
  padding-bottom: 20px;
}
.fithdis{
  color: #fff;
    padding-left:9px;
    padding-top: 9px;
}
.fithdis .mnt{
    margin-left: -19px;
    font-weight: 550;
    font-size: 23px;
}
.whatworks{
 
  background: rgb(255, 255, 255);
  margin-bottom: 60px !important;
}
.subs_salon{
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 44px;
  padding-top: 84px;
  font-weight: 550;
}
.gspprice2 {
  color: #cc802e;
    font-size: 26px;
    font-weight: 700;
    float: right;
    padding: 10px;
}

.dwn{
  margin-left: -42px;
  font-weight: 550;
  font-size: 23px;
}
.lac{
  margin-left: -42px;
}
.fithdis .salg{
  margin-left: -23px;
}
.sixthblc{
  text-align: center;
  padding:10px;
}
.ourins{
  font-size: 41px;
  color: black;
  letter-spacing: 4px;
  padding-top: 4%;
 
}
.scte{
  font-size: 18px;
  letter-spacing: 1.1px;
  line-height: 2;
  padding-bottom: 24px;
  font-weight: 600;
}
.brandsw{
  font-size: 41px;
  color: black;
  letter-spacing: 4px;
  padding-top: 3.2%;
}
.swe{
  color: #232323;
    letter-spacing: 2px;
}
.minmain{
  margin-right: 5%;
}
.vl {
  border-left: 2px solid #626562;
  height: 58px;
  margin-top: 32px;
}
.vlsa{
  border-left: 1.5px solid #777474;
  height: 53%;
  margin-top: 25px
}
.colred{
  height: 10px;
  background: #d20606;
  border: 1px solid #8e0909;
}
.restaur{
  color: #383737;
    letter-spacing: 1px;
    font-size: 16px;
}
.left_side{
  border-top: 1.5px solid #7a757566;
  border-left: 1.5px solid #7a757566;
  border-bottom: 1.5px solid #7a757566;
}
.eightparagraph{
  height: auto; background: #464545; padding-bottom: 29px; margin-top: -4.5% !important;
}
.ourfranchise{
  height: auto;
  border: 1px solid whitesmoke;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 6%;
}
.innerfrnhe{
  color: #fff;
  text-align: center;
  font-size: 40px;
  background: #464545;
  margin-top: -26px;
  width: 50%;
  margin-left: 24%;
  margin-right: 30%;
  font-weight: bold;
  margin-top: -25px;
}

.innerneed{
  color: #fff;
  text-align: center;
  font-size: 27px;
  line-height: 2;
  padding-bottom: 8px;
}
.revolution{
  color: #fff;
  text-align: center;
  font-size: 21px;
  padding-top: 8px;
  padding-bottom: 2%;
}
.througapp{
  color: #fff;
  text-align: center;
  font-size: 45px;
  margin-top: -12px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.mangebusiness{
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 2.5;
    padding-top: 10px;
}
.monthimgt{
  height: 28%;
}
.effswe{
  height: 70px;
}
.lastblocky{
  padding: 30px;
  font-family: inherit;
  padding-top: 7%;
}
.unsalond{
    font-size: 31px;
    line-height: 1;
    padding-bottom: 32px;
    padding-top:4px;
    font-weight: 550;
}
.iconmessge{
  padding-bottom: 16px;
}
.moneycomn{
  height: 26%;
}
/* 
  ---subscription-- */

.hebanner2{
  background: rgb(246,222,227);
  background: linear-gradient(90deg, rgb(246, 245, 245) 0%, rgba(250,208,217,1) 50%, rgb(245, 239, 240) 100%);
 
}
.modulastext .dsa {
  background: rgb(48,35,174);
 background: linear-gradient(163deg, rgba(48,35,174,1) 42%, rgba(187,103,212,1) 100%);
}
.imodesec45 .subscription-container {
  max-Width: 715px;
  margin: 0 auto;
  position: relative;
}
.subasalo .subscription-container {
  max-Width: 715px;
  margin: 0 auto;
  position: relative;
}
.subbanners{
  background-image: url(https://res.cloudinary.com/dyqcevdpm/image/upload/v1555912721/banner_ywoga8.png);
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  
  transform-origin: center top;
 
}

.hebanner2 .ssubscription-containe{
  max-Width: 621px;
  margin: 0 auto;
  position: relative;
}
.subenjhead {
  font-size: 40px;
  /* text-align: center; */
  color: #EC21EC;
  font-family: 'Roboto', sans-serif;
  padding-left: 20%;
  padding-top: 10px;
}
.freeser500{
  font-size: 39px;
  font-family: 'Roboto', sans-serif;
  color: #e73934;
  padding-left: 11%;
  line-height: 1.9;
}
.payoutblock{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.goldpasswe{

  color: #fff;
  padding: 20px !important;
    font-family: lato;
     
}
.goldpasswe .passnmae{
      font-size: 28px;
      font-weight: 500 !important;
      padding-left: 11%;
}

.goldpasswe .servicesd{
  text-align: center;
  font-size: 28px; 
  font-weight: 500 !important;
}
.subscription-path {
  max-Width: 571px;
  margin: 0 auto;
  position: relative;
}
.bodypayout .mngthshow{
  color: #fff;
  font-family: lato;
  padding-left: 55px;
  font-size: 22px;
  padding-top: 10%;
  font-weight: 50;
  padding-bottom: 10px !important;
}
.bodypayout{
  margin-top: 7%;
  margin-bottom: 5%;
  width: 700px;
  border-radius: 10px !important;
}
.subasalo{
  padding-bottom: 4% !important;
}
.bodypayout .subsbuy{
  padding: 9px;
  border: none;
  background: #ff8df6;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  font-family: inherit;
}
.bodypayout .price{
  text-align: center;
  padding:20px !important;
  color: #fff;
    font-family: lato;
    font-size: 40px;  
}

.bodypayout{
  background-image: linear-gradient(to right top, #55087a, #510e85, #4c1490, #431a9b, #3520a7);
}
.freeser12 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #e73934;
  font-weight: 500;
  padding-left: 30%;
  margin-top: -13px;
}

.subsnewbtn {
     padding-top: 35px;
     margin-left: 30%;
}
.submain{
  padding:50px;
}

.bttnsubs{
  background-color: #fa1efa !Important;
    font-weight: 400;
}

.MuiButton-contained-212 {
  color: #fa1efa;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}

.icomainde{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.wcgsp {
  padding-top: 55px !Important;
}
.imgtopbanner{
  width: 100%;
  height: auto;
}

.imodesec {
  background: url(https://res.cloudinary.com/dyqcevdpm/image/upload/v1555926522/new-website/first-view-section-2.png);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: -webkit-center;
  color: #000 !important;
}

.imodesec45 {
  background: url(https://res.cloudinary.com/dyqcevdpm/image/upload/v1556022971/section_2_background_pink_bnkfre.png);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: -webkit-center;
  color: #000 !important;
}
.btnpaywe{
  font-size: 20px !important;
  background: -webkit-linear-gradient(333deg, rgb(92, 3, 111) 18%, rgb(50, 33, 171) 100%);
  background: -o-linear-gradient(333deg, rgb(92, 3, 111) 18%, rgb(50, 33, 171) 100%);
  background: linear-gradient(117deg, rgb(92, 3, 111) 18%, rgb(50, 33, 171) 100%);
  text-align: -webkit-center;
  line-height: 22px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 6;
  width: 100%;
  padding: 19px !important;
  padding-left: 24px !important;
}
.dsa img{
  padding-top: 25px;
  float: left;
  padding-left: 13%;
}
.dsa p{
  color: #fff;
  padding-top: 30%;
  text-align: left;
  padding-left: 28px;
  line-height: 1.3;
  padding-bottom: 25px;
}

.maintn {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: -webkit-center;
  color: #000;
}

.modulastext{
  text-align: center !important;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 8%;
}
.innervar{
  color: #000000;
  font-family: lato;
  font-weight: 600;
}
.modulastext .innerimgfrnd{
  width: 80px;
  height: 80px;
  padding-bottom: 7px;
}
.buyimg img{
  padding-top: 11px;
  padding-bottom: 5%;
}
/* 
  ---subscription-- */












.sendmessage{
  font-weight: bold;
  color: black;
  font-size: 24px;
  line-height: 1.5;
}
.lastblocky .unqe{
  font-size: 31px;
  font-weight: 500;
}
.spmodel{
  font-size: 31px;
  color: black;
  font-weight: bolder;
}
.sqfit{
  color:#fff;
  letter-spacing: 1.5px;
}
.minis{
  padding-bottom: 30px;
  padding-top: 4px;
  font-weight: 500;
}
.flr{
  float: right;
}
.flrleft{
  float: left;
}
.top-image{
  text-align: center;
  padding-bottom: 50px;
 
}
.fixedbox{
  margin-top: 46px;
  margin-right: -75px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: -webkit-center !important;
  background-color: #4f4f4f;
  color: #fff;
  padding: 50px;
  font-size: 53px;
}
.fixedboxleft{
  margin-top: 140px;
  margin-left: -48px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: -webkit-center !important;
  background-color: #fff;
  color: black;
  padding: 20px;
  font-size: 31px;
  font-weight: 700;
}
.third_paragraph2{
  margin-top: 7% !important;
}

.third_paragraph2 .discription_1{
  color:#fff;
  letter-spacing: 5px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 60px;
  line-height: 1.5;
  padding-left: 11%;
}
.fourthmiddle{
  border-top: 1.5px solid #7a757566;
  border-left: 1.5px solid #7a757566;
  border-bottom: 1.5px solid #7a757566;
  border-right: 1.5px solid #7a757566;
  text-align: center;
  margin:24px;
  margin-top: 33px;
  margin-bottom: 33px;
}
.fourthmiddle .ecosy{
  font-size: 45px;
  padding-top: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  color: black;
}
.fourthmiddle .ecoth{
  letter-spacing: 1.2px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: 550;
}
.fourthmiddle .echoin{
  letter-spacing: 1.2px;
  padding-bottom: 40px;
  line-height: 1.7;
  font-size: 17px;
  font-weight: 550;
}
.onlinetext{
  border-top: 1.3px solid #7a757566;
  border-left: 1.3px solid #7a757566;
  border-right: 1.3px solid #7a757566;
  margin-left: 13%;
  margin-right: 13%;
}
.offlinetext{
  border-top: 1.3px solid #7a757566;
  border-left: 1.3px solid #7a757566;
  border-right: 1.3px solid #7a757566;
  margin-left: 13%;
  margin-right: 13%;
}
.dotted{
  width: 75%;
  margin-left: 14%;
}
.syitem{
  margin-left: 13%;
  margin-right: 13%;
  text-align: left !important;
}
.syitem1{
  margin-left: 13%;
  margin-right: 13%;
  text-align: left !important;
  padding-bottom: 20px;
}
.drawlinex{
  width: 35px;
  height: 4px;
  border-bottom: 1.5px solid #0000007d;
  position: absolute;
  padding-top: 23px !important;
  }
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: -98.7%;
}
.dotes{
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: right;
  margin-right: 11px;
}
.plus{
  font-size: 51px;
  font-weight: bolder;
  color: #000000de;
  padding-left: -30px;
  width: 92%;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: -15px;
}
.onlinetext .topview{
  color: #e70f0f;
  font-size: 30px;
  background: #fff;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -20px;
  font-weight: 700;
}
.offlinetext .topview{
  color: #423f3ffa;
  font-size: 30px;
  background: #fff;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -20px;
  font-weight: bolder;
}
.fixedleftside{
  margin-top: 209px;
  margin-left: -47px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: -webkit-center !important;
  background-color: #fff;
  color: black;
  padding: 20px;
  font-size: 50px;
}
.plwlight{
  font-weight: 500;
  font-size: 2em;
}
.leftside_header .vertical-text{
  transform: rotate(90deg);
  transform-origin: left top 0;
  margin-top: 108px;
  margin-left: 19px;
}
.detail_fill input[type=text] {
  width: 93%; padding: 12px 19px; margin: 3px 0; -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: 12px;
}
.detail_fill #city {
  width: 93%;
  padding: 12px 19px;
  margin: 3px 0;
  box-sizing: border-box;
  margin-left: 12px;
}
.detail_fill #subject {
  width: 93%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 120px;
  margin-left: 12px;
}
.top-image {
  padding-left: 12%;
}
.detail_fill .button {
  /* background-color: #ea1809;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  width: 100%; */
  background-color: #ea1809;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    cursor: pointer;
    width: 34%;
    text-align: center;
    margin-left: 32%;
    margin-bottom: 5%;

}
.franchise ul{
  list-style: none;
  text-align: -moz-center;
  text-align: -webkit-center;
  line-height: 1.5;
  padding-top: 7px;
  padding-bottom: 6px;
}
.franchise ul li{
  letter-spacing: 4px;
  font-size: 16px;
  color: #df0505;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.salonRatingBox1 {
  background: rgb(101, 154, 44);
  text-align: center;
  width: 59px;
  height: 16px;
  /* line-height: 21px; */
  border-radius: 2px;
  color: #fff;
  padding: 3px;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 58px;
}
.totalAmount .total_1{
  margin-left: 32px;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}
.totalAmount .total_2{
  margin-left: 32px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
}
.review1 {
  font-size: 13px;
  color: rgb(101, 154, 44);
  margin-top: 4px;
  text-align: center;
}
.dealscart2 {
  background: rgb(226, 243, 186);
  height: 200px;
  margin-top: 72px !important;
}
.full-height{
  height: 100vh;
}
.App-intro {
  font-size: large;
}
.img1{
  width: 100%;
  height: auto;
  margin-top:-1px !important;
}
.dealimg{
  width: 100%;
  height: 144px;
}
ul li {
  list-style: none;
  display: inline;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.headerSalon {
  padding-left: 51px;
  font-size: 26px;
  padding-top:20px;
  color: #000000d9;
  padding-bottom: 20px;
}
.dealspage{
  height: 200px;
  margin-top: 14px;
  margin-left: 40px !important;
  margin-right: 40px;
}
.indexedStep {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color:rgb(217, 0, 13);
}
.RSPBprogressBar .RSPBprogression {
  position: absolute;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background:#d60606 !important;
  z-index: -1;
}
.dealsprogress{
  margin-top:115px !important;
  margin-left: 18% !important;
}
.dealsprogress ProgressBar{
  height: 4px !important;
}
.dealchoose{
  padding: 10px;
  padding-left: 30px;
  text-align: center;
  padding-top: 30px;
}
/* .chooseSalonMain{
    margin-left: 30px !important;
    margin-right: 30px !important;
} */
.dealsnear1{
  margin-top: 20px;
  margin-left: 40px !important;
  margin-right: 40px;
 
}
.genderSelect{
  margin-left: 140px;
}
.femaleSelect{
  margin-top:7px !important;
}
.dealsappbar{
  margin-top:-9px !important;
}
.dealscart{
  margin-top:-32px !important;
  margin-right:30px !important;
  margin-left: 30px !important;
}
.dealscart1{
  background: rgb(226, 243, 186);
  height: 200px; 
  margin-top: 77px !important;
}
.RSPBprogressBar{
  height: 4px!important;
}
.appbarDeals{
  margin-left: 39px;
  width: 94.2% !important;
}

@media (min-width: 1366) and (max-width: 1920px){
  .appbarDeals {
    margin-left: 39px;
    width: 94% !important;
  }
}
@media (min-width: 1240px) and (max-width: 1364px){
  .genderSelect {
    margin-left: 140px !important;
  }
  .appbarDeals {
    margin-left: 39px;
    width: 93.8% !important;
  }
  .totalAmount .total_2 {
    margin-left: 32px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 12px;
  }
  .topx {
    font-size: 22px;
    font-weight: 550;
    padding-bottom: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1238px) {
  .genderSelect {
    margin-left: 99px !important;
  }
  .appbarDeals {
    margin-left: 39px;
    width: 92.2% !important;
  }
  .save_check{
    padding-left: 30px !important;
  }
  .topx {
    font-size: 17px;
    font-weight: 550;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .smtsw {
    font-size: 18px;
    font-weight: 700;
    color: #000000e0;
    text-align: center;
    padding-bottom: 20px;
    }
    .monthimgt {
      height: 20%;
    }
    .fithdis {
      color: #fff;
      padding-left: 3px;
      padding-top: 9px;
    }
    .numer{
      font-size: 21px !important;
    }
    .mnt{
      font-size: 18px !important;
    }
    .salg{
      font-size: 21px !important;
      padding-left: 9px !important;
    }
    .watawe{
      font-size: 17px;
    }
    .textName1{
      padding-bottom: 14px !important;
    }
    .salonchn {
      letter-spacing: 0 !important;
      font-size: 14px !important;
    }
    .lakmebb {
      font-size: 13px !important;
    }
    .rightsd{
      margin-left: 0px !important;
    }
    .mnth {
      margin-left: 10%;
      padding-bottom: 0px;
      margin-bottom: -27px !important;
    }
    .ourins {
      font-size: 41px;
      color: black;
      letter-spacing: 4px;
      padding-top: 2%;
    }
    .vlsa {
      border-left: 1.5px solid #777474;
      height: 53%;
      margin-top: 25px;
      margin-left: 20px;
    }
    .effswe {
      height: 54px;
    }
  .priceRate{
    margin-left: 0px!important;
  }
  .service_name{
    padding-left: 20px!important;
  }.gender{
    margin-left: -12px !important;
  }
  .btnAdd{
    margin-left: 0px !important;
  }
  .totalAmount .total_2 {
    margin-left: 43px;
    font-size: 17px;
    font-weight: 700;
    padding-top: 15px;
  }
  .totalAmount .total_1{
    font-size: 17px;
    padding-top: 15px;
  }
  .salonRatingBox1{
    margin-left: 32px;
  }
  .dashline{
    margin-left: 41px !important;
  }
  .dashline2{
    padding-left: 10px !important;
  }
  .dealsprogress {
    margin-top: 115px !important;
    margin-left: 9% !important;
  }
  .chooseSalonMain{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .headerSalon {
    padding-left: 0px;
    font-size: 26px;
    padding-top:20px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .img1 {
    width: 100%;
    height: auto;
    margin-top:-1px !important;
  }
  .mainright{
    width: 100% !important;
  }
  
  .txc{
    font-size: 18px !important;
  }
  .more{
    font-size: 18px !important;
  }
  .handwew{
    height: 50px;
    width: auto;
  }
  .fillx{
    font-size: 12px !important;
  }
  .detail_fill input[type=text] {
    width: 93%;
    padding: 5px 13px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 10px;
  }
  .detail_fill #city{
    padding: 5px 13px;
    margin-left: 10px;
  }
  .detail_fill #subject {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 108px;
    margin-left: 10px;
  }
  .fourthmiddle .ecosy {
    font-size: 35px;
  }
  .fixedleftside {
    margin-top: 225px;
    margin-left: -47px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #fff;
    color: black;
    padding: 20px;
    font-size: 33px;
  }
  .onlinetext .topview {
    color: #e70f0f;
    font-size: 20px;
    margin-top: -14px;
  }
  .offlinetext .topview {
    color: #e70f0f;
    font-size: 20px !important;
    margin-top: -14px !important;
  }
  .cuser{
    font-size: 13px;
  }
  .cuser1{
    font-size: 13px;
    padding-left: 12px !important;
  }
  .plus {
    font-size: 51px;
    font-weight: bolder;
    color: #000000de;
    padding-left: -30px;
    width: 92%;
    padding-top: 12px;
    padding-bottom: 26px;
  }
  .fixedboxleft {
    margin-top: 104px;
  }
  .frthblock{
    margin-left: 10% !important;
  }
  .innerfrnhe {
    color: #fff;
    text-align: center;
    font-size: 26px;
    background: #464545;
    margin-top: -26px;
    width: 36%;
    margin-left: 32%;
    margin-right: 30%;
    font-weight: bold;
  }
  .innerneed {
    color: #fff;
    text-align: center;
    font-size: 23px;
    line-height: 2.2;
    padding-bottom: 40px;
  }
  .spmodel {
    font-size: 24px;
    color: black;
  }
  .dotes {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-right: 8px;
  }
  .unsalond {
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 32px;
    padding-top: 4px;
    font-weight: 550;
  }
  .lastblocky .unqe {
    font-size: 24px;
    font-weight: 500;
  }
}
@media  (min-width: 800px) and (max-width: 1020px) {
  .genderSelect {
    margin-left: 50px !important;
  }
  .payoutblock {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 68px !important;
  }
  .appbarDeals {
    margin-left: 39px;
    width: 90% !important;
  }
  .subenjhead {
    font-size: 30px;
    color: #EC21EC;
    font-family: 'Roboto', sans-serif;
    padding-left: 15%;
    padding-top: 10px;
  }
  .freeser500 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #e73934;
    padding-left: 0%;
    line-height: 1.9;
  }
  .freeser12 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #e73934;
    font-weight: 500;
    padding-left: 22%;
    margin-top: -9px;
  }
  .subsnewbtn {
    padding-top: 35px;
    margin-left: 22%;
}
  .Lowestprice{
    padding-left: 347px!important;
    margin-left: 0px!important;
  }
  .dealsprogress {
    margin-top: 115px !important;
    margin-left: 8% !important;
  }
  .mainright{
    width: 100% !important;
    margin-top: -60px;
  }
  .wantknow{
    margin-left: -23% !important;
  }
  .fillx{
    font-size: 17px;
  }
  .detail_fill #subject {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 91px;
    margin-left: 11px;
  }
  .lastblocky {
    /* padding: 30px; */
    letter-spacing: 1px;
    font-family: inherit;
    padding-top: 5%;
    padding-left: 14%;
  }
  .dashline{
    margin-left: 2px !important;
  }
  
  .txc{
    padding-left: 35% !important;
  }
  .whatworks{
    /* margin-top: 23px !important; */
    margin-left: 62px !important;
  }
  .more{
    padding-left: 36% !important;
  }
  .third_paragraph2{
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 18% !important;
  }
  .third_paragraph {
    margin-top: -11% !important;
  }
  .fourthmiddle{
    margin-left: 22px;
  }
  .sqfit{
    font-size: 12px;
  }
  .rightsd{
    margin-left: 0px !important;
  }
  .vlsa {
    border-left: 1.5px solid #777474;
    height: 53%;
    margin-top: 25px;
    
    margin-left: 29px;
}
  .poscrm{
    margin-left: 2% !important;
    font-size: 12px;
  }
  .lineblc{
    margin-left: 3% !important;
  }
  .headth{
    font-size: 12px !important;
    margin-left: 10px !important;
  }
  .drawlinex {
    width: 31px;
    border-bottom: 1.5px solid #0000007d;
    position: absolute;
    padding-top: 21px !important;
    margin-left: 13px;
  }
  .drwaline{
    margin-left: 37px !important;
  }
  .rexeline{
    margin-left: 30px !important;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -98%;
  }
  .dotes {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-right: 8px;
  }
  .diffsa {
    text-align: center;
    margin-top: 4%;
    color: #fff;
    letter-spacing: 5px;
    font-size: 41px;
    padding-bottom: 19px;
  }
  .plus {
    font-size: 51px;
    font-weight: bolder;
    color: #000000de;
    padding-left: -30px;
    width: 92%;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  
  .ourins {
    font-size: 41px;
    color: black;
    letter-spacing: 4px;
    padding-top: 3%;
    }
    .topx {
      font-size: 25px;
      font-weight: 550;
      text-align: center;
      padding-bottom: 4px;
    }
    .kerafusion{
      height: 44% !important;
      margin-top: -25px !important;
    }
  .linesyr{
    margin-left: 9% !important;
  }
  .monthimgt{
    height: 50px !important;
  }
  .numer{
    font-size: 16px !important;
  }
  .mnt{
    font-size: 16px !important;
  }
  .fithdis {
    color: #fff;
    padding-left: 11px;
    padding-top: 9px;
  }
  .salg{
    font-size: 16px !important;
    padding-left: 10px;
  }
  .lac{
    padding-left: 10px !important;
  }
  .innerfrnhe {
    color: #fff;
    text-align: center;
    font-size: 21px;
    background: #464545;
    margin-top: -15px;
    margin-left: 25%;
    margin-right: 30%;
    font-weight: bold;
  }
  
  .innerneed {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 2.2;
    padding-bottom: 40px;
  }
  .lastblocky .unqe {
    font-size: 21px !important;
  }
  .spmodel {
    font-size: 21px !important;
    color: black;
  }
  .unsalond {
    font-size: 21px;
    padding-bottom: 32px;
    font-weight: 550;
    line-height: 0.8!important;
    margin-bottom: -26px !important;
  }
  .swe {
    color: #232323;
    letter-spacing: 2px;
    font-size: 24px;
  }
  .moneycomn{
    height: 24%;
  }
  .fixedleftside {
    margin-top: 209px;
    margin-left: -47px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #fff;
    color: black;
    padding: 20px;
    font-size: 40px;
  }
}
@media (min-width: 640px) and (max-width: 763px) {
  .genderSelect {
    margin-left: 0px;
  }
  .female1{
    margin-left: -25px;
  }
  .mobile-hide{
    display: none;
  }
  .dealscart1{
    display: none;
  }
  .payoutblock {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 47px !important;
    /* margin-right: 20px !important; */
  }
  .subbanners {
    background-image: url(https://res.cloudinary.com/dyqcevdpm/image/upload/v1555912721/banner_ywoga8.png);
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    height: 180px;
  }
  .subenjhead {
    font-size: 20px;
    color: #EC21EC;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
  }
  .freeser500 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #e73934;
    padding-left: 0px !important;
    line-height: 1.9;
  }
  .freeser12 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #e73934;
    font-weight: 500;
    padding-left: 16%;
    margin-top: -5px;
  }
  .subsnewbtn {
    padding-top: 10px;
    margin-left: 10%;
  }
  .asdf{
    margin-top: -22px;
  }
  .goldpasswe .passnmae {
    font-size: 22px;
    font-weight: 560 !important;
    padding-left: 17%;
  }
  .bodypayout .pricwewe{
    font-size: 22px;
  }
  .bodypayout .mngthshow {
    color: #fff;
    font-family: lato;
    padding-left: 55px;
    font-size: 18px;
    padding-top: 10%;
    font-weight: 50;
    padding-bottom: 10px !important;
  }
  .bodypayout .subsbuy {
    padding: 9px;
    border: none;
    background: #ff8df6;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
  }
  .goldpasswe .servicesd {
    text-align: center;
    font-size: 22PX;
    font-weight: 500 !important;
    padding-left: 44px;
  }
  .bodypayout .price {
    text-align: center;
    color: #fff;
    font-family: lato;
    font-size: 40px;
  }
  .dealsnear1 {
     margin-top: 0px; 
     margin-left: 0px !important; 
    margin-right: 0px; 
  }
  .centered {
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .third_paragraph2 .discription_1 {
    color: #fff;
    letter-spacing: 5px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 60px;
    line-height: 1.5;
    padding-left: 6%;
  }
  .eightparagraph {
    height: auto;
    background: #464545;
    padding-bottom: 29px;
    margin-top: -16.5% !important;
  }
  .img1 {
    width: 100%;
    height: auto;
    margin-top: -53px !important;
  }
  .detail_fill input[type=text] {
    width: 93%;
    padding: 6px 19px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 14px;
  }
  .detail_fill #city {
    width: 93%;
    padding: 6px 19px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 14px;
  }
  .vlsa {
    border-left: 1.5px solid #777474;
    height: 53%;
    margin-top: 25px;
    margin-left: 27px;
  }
  .topx {
    font-size: 23px;
    font-weight: 550;
    text-align: center;
  }
  .appbarDeals{
    margin-left: 0px;
    width: 100% !important;
  }
   
   .whatworks{
    /* margin-top: 14px !important; */
    background: rgb(255, 255, 255);
    margin-bottom: 27px !important;
    margin-left: 2% !important;
   }
   .more{
     padding-left: 0% !important;
   }
   .fixedboxleft {
    margin-top: 130px;
    margin-left: -39px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #fff;
    color: black;
    padding: 20px;
    font-size: 39px;
  }
  .effciency{
    padding-left: 0px !important;
  }
  .mainright{
    width: 100% !important;
  }
  .dashline{
    margin-left: 21px !important;
  }
  .txc{
    padding-left: 0px !important;
    letter-spacing: 5px;
    font-size: 27px!important;
  }
  .detail_fill #subject {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
    margin-left: 14px;
  }
  .wantknow{
    text-align: center;
    margin-top: 20px;
    margin-left: -60px !important;
  }
  .fillx{
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.38);
    padding-left: 5px;
  }
  .third_paragraph2 {
    margin-top: 13% !important;
  }
  .minmain{
    margin-left: 10% !important;
    margin-right: 10% !important;
    
  }
  .fixedbox {
    margin-top: 88px;
    margin-right: -31px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #4f4f4f;
    color: #fff;
    padding: 14px;
    font-size: 35px;
  }
  .top-image {
    text-align: center;
    padding-bottom: 16px !important;
    padding-left: 25px !important;
  }
  .fourthmiddle .ecosy {
    font-size: 30px !important;
    padding-top: 13px;
    letter-spacing: 4px;
    font-weight: 550;
    color: black;
    line-height: 1.2 !important;
    font-weight: bold;
  }
  .fourthmiddle .ecoth {
    letter-spacing: 1.4px;
    line-height: 1.8;
    font-size: 16px !important;
  }
  .fourthmiddle .echoin {
    letter-spacing: 1.4px;
    padding-bottom: 40px;
    font-size: 13px !important;
  }
  .fourthmiddle {
    border-left: 1.5px solid #7a757566;
    border-bottom: 1.5px solid #7a757566;
    border-right: 1.5px solid #7a757566;
    text-align: center;
    margin-left: 8% !important;
    margin-top: 4% !important;
    margin-bottom: 10% !important;
    margin-right: 6% !important;
    border-top: 1.5px solid #7a757566 !important;
  }
  .fixedleftside {
    margin-top: 209px;
    margin-left: -34px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #fff;
    color: black;
    padding: 9px;
    font-size: 27px;
  }
  .onlinetext .topview {
    color: #e70f0f;
    font-size: 24px !important;
    background: #fff;
    margin-left: 36% !important;
    margin-right: 32% !important;
    margin-top: -20px;
    font-weight: 700;
  }
  .dotes {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-right: 4px;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -97.3%;
  }
  .headth{
    font-size: 11px !important;
  }
  .poscrm{
    font-size: 11px;
  }
  .drawlinex {
    width: 20px;
    height: 4px;
    border-bottom: 1.5px solid #0000007d;
    position: absolute;
    padding-top: 15px !important;
    margin-left: 8px !important;
  }
  .lineblc{
    margin-left: 37px !important;
  }
  .drwaline{
    margin-left: 24px !important;
  }
  .rexeline{
    margin-left: 24px !important;
  }
  .plus {
    font-size: 51px;
    font-weight: bolder;
    color: #000000de;
    padding-left: -30px;
    width: 92%;
    padding-top: 0px;
    padding-bottom: 34px;
  }
  .offlinetext .topview {
    color: #423f3ffa;
    font-size: 24px !important;
    background: #fff;
    margin-left: 36% !important;
    margin-right: 32% !important;
    margin-top: -20px;
    font-weight: 700;
  }
  .lineweqw{
    margin-left: 0px !important;
  }
  .linesyr{
    margin-left: 30px !important;
  }
  .monthimgt{
    height: 50px !important;
  }
  .numer{
    font-size: 16px !important;
  }
  .salg{
    font-size: 16px !important;
    padding-left: 10px !important;
  }
  .mnt{
    font-size: 16px !important;
  }
  .fithdis {
    color: #fff;
    padding-left: 11px;
    padding-top: 9px;
  }
  .lac{
    padding-left: 10px !important;
  }
  .innerfrnhe {
    color: #fff;
    text-align: center;
    font-size: 19px;
    background: #464545;
    margin-top: -15px;
    margin-left: 28%;
    margin-right: 30%;
    font-weight: bold;
  }
  .innerneed {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 2.2;
    padding-bottom: 40px;
  }
  .lastblocky .unqe {
    font-size: 20px !important;
  }
  .spmodel {
    font-size: 20px !important;
    color: black;
  }
  .unsalond {
    font-size: 20px;
     line-height: 0.8 !important;
    font-weight: 550;
  }
  .iconmessge {
    padding-bottom: 16px;
    margin-top: -6%;
  }
  .swe {
    color: #232323;
    letter-spacing: 2px;
    font-size: 17px;
  }
  .restaur {
    color: #383737;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .througapp {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: -12px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.mangebusiness {
  color: #fff;
  text-align: center;
  font-size: 19px;
  line-height: 2.2;
  } 
  .revolution {
    color: #fff;
    text-align: center;
    font-size: 19px;
    line-height: 2.2;
    margin-top: -12px;
  }
  .sqfit{
    font-size: 13px !important;
  }
  .fifth_paragraph {
    height: auto;
    background: #848484;
    z-index: -5;
    padding-bottom: 30px;
    margin-top: -38px !important;
  }
  .rightsd{
    margin-left: 0px !important;
  }
  .diffsa {
    text-align: center;
    margin-top: 7%;
    color: #fff;
    letter-spacing: 5px;
    font-size: 34px;
    padding-bottom: 24px;
  }
  .moneycomn{
    height: 22%;
  }
  .loreal{
    height: 37px !important;
  }
  .skin_co{
    height: 30px !important;
  }
  .lotus{
    height: 34px;
  }
  .kerafusion{
    height: 42% !important;
    margin-top: -20px !important;
  }
  
}

@media (min-width:320px) and (max-width:480px) {
  .genderSelect{
    margin-left: -16px !important;
  }
  .mobile-hide{
    display: none;
  }
  .loginBtn{
    margin-left: 35px;
    z-index: 99;
    margin-top: 10px;
  }
  .submain{
    padding:0px;
  }
  .subbanners {
    background-image: url(https://res.cloudinary.com/dyqcevdpm/image/upload/v1555912721/banner_ywoga8.png);
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    height: 97px;
    margin-top: -8px !important;
  }
  .subenjhead {
    font-size: 13px;
    /* text-align: center; */
    color: #EC21EC;
    font-family: 'Roboto', sans-serif;
    padding-left: 20%;
    padding-top: 10px;
  }
  .bodypayout .subsbuy {
    padding: 9px;
    border: none;
    background: #ff8df6;
    font-size: 13px !important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    font-family: inherit;
}
  .dealscart{
    margin-top:00px !important;
    margin-right:0px !important;
    margin-left: 0px !important;
  }
  .goldpasswe {
    color: #fff;
    padding: 20px !important; 
    font-family: lato;
  
  }
  .goldpasswe .passnmae {
    font-size: 15px;
    font-weight: 500 !important;
    padding-left: 62%;
  }
  .bodypayout .price {
    color: #fff;
    font-family: lato;
    font-size: 25px;
    text-align: inherit;
  }
  .goldpasswe .servicesd {
    font-size: 15px;
    font-weight: 500 !important;
    padding-left: 62%;
  }
  .bodypayout .mngthshow {
    color: #fff;
    font-family: lato;
    padding-left: 55px; 
    padding-top: 0%;
   padding-bottom: 0px !important;
}
  .kerafusion{
    height: 50px !important;
    margin-top:0px !important;
  }
  .transparentcont-box1 {
    background-color: rgba(80, 74, 74, 0.95);
    position: absolute;
    width: 100%;
    height: 150px;
    opacity: .5;
    margin-top: -83px;
  }
  .mirrorimg{
    padding-top: 0px !important;
  }
  .dealsnear1{
    margin-left: 0px !important;
    margin-right: 0px;
    margin-top:-10px;
  }
  .dealscart1{
    display: none;
  }
  .female1{
    margin-left: -45px;
  }
  .appbarDeals {
   margin-left: 0px;
   width:100% !important;
  }
  .franchise1{
    font-size: 21px !important;
    line-height: 1.3;
    letter-spacing: 2px !important;
  }
  .franchise ul li {
    letter-spacing: 2px;
    font-size: 11px !important;
    color: #a01010;
  }
  .franchise ul {
    list-style: none;
    text-align: -moz-center;
    text-align: -webkit-center;
    padding-bottom: 14px;
    line-height: 1 !important;
  }
 
  .whatworks{
    background: rgb(255, 255, 255);
    margin-bottom: 19px!important;
    margin-top: -14% !important;
  }
  .topx {
    font-size: 15px;
    font-weight: 550;
    text-align: center;
    padding-top: 13px;
  }
  .smtsw {
    font-size: 15px;
    font-weight: 700;
    color: #000000e0;
    text-align: center;
    padding-bottom: 15px;
  }
  .left_side {
    border-top: 1.5px solid #7a757566;
    border-left: 1.5px solid #7a757566;
    margin-left: 10%;
    margin-right: 16px;
    border-right: 1.5px solid #7a757566;
    border-bottom: 1.5px solid #7a757566;
  }
  .sdad{
    padding-left: 46px !important;
  }
  .textName{
    font-size: 6px !important;
  }
  .textName1{
    font-size: 6px !important;
  }
  .effswe{
    height: 50px !important;
  }
  .salonchn{
    font-size: 11px !important;
  }
  .lakmebb{
    font-size: 11px !important;
  }
  .effciency{
    padding-left: 0px !important;
  }
  .fixedboxleft {
    margin-top: 103px;
    margin-left: -29px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #fff;
    color: black;
    padding: 12px;
    font-size: 20px;
  }
  .handwew{
    width: 68px !important;
    margin-top: 12px;
    margin-left: -30px;
  }
  .txc{
    font-size: 18px !important;
    padding-left: 25px !important;
    letter-spacing: 1px !important;
    /* padding-top: 10px; */
    margin-top: 14px;
  }
  .more{
    font-size: 18px !important;
    padding-left: 20px !important;
  }
  .mainright{
    width: 100% !important;
  }
  .filltheform{
    margin-left: 8px !important;
   margin-right: 0px !important;
    padding: 7px;
  }
  .fillx{
    font-size: 9px !important;
  }
  .detail_fill input[type=text] {
    width: 93%;
    padding: 6px 19px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 9px;
  }
  .detail_fill #subject {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 90px;
    margin-left: 9px;
  }
  .detail_fill .button {
    background-color: #ea1809;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    cursor: pointer;
    width: 51% !important;
    margin-left: 24% !important;
  }
  .detail_fill #city {
    width: 93%;
    padding: 6px 19px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 9px;
  }
  .detail_fill{
    margin-left: 8px !important;
     margin-right: 0px !important; 
     margin-top: 0px !important; 
  }
  .btnsumr{
    margin-left: 0px !important;
    margin-bottom: 2% !important;
  }
  
  .minmain{
    margin:15px !important;
  }
  .howimg{
    width: 55px !important;
    margin-top: -10% !important;
    margin-left: 7% !important;
  }
  .third_paragraph2 .discription_1 {
    color: #fff;
     letter-spacing: 0px !important; 
    font-weight: 500;
    text-align: center;
    padding-bottom: 25px;
    line-height: 1.5;
    font-size: 11px !important;
  }
  .based{
    margin-left: -30px !important;
  }
  .fixedbox {
    margin-top: 77px;
    margin-right: -16px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: -webkit-center !important;
    background-color: #4f4f4f;
    color: #fff;
    padding: 5px;
    font-size: 19px;
  }
  .top-image {
    text-align: center;
    padding-bottom: 27px;
    padding-left: 0% !important;
  }
  .fouthblockwe{
    display: none;
  }
  .diffsa {
    text-align: center;
    margin-top: 7%;
    color: #fff;
    letter-spacing: 5px;
    font-size: 19px;
    padding-bottom: 17px;
  }
  .mntsdimg{
    text-align: center;
    margin-left: -14px !important;
  }
  .salonimgwe{
    text-align: center;
    margin-left: -14px !important;
  }
  .fithdis{
    padding-bottom: 16px !important;
  }
  .ourins {
    font-size: 28px !important;
    color: black;
    letter-spacing: 4px;
  }
  .sixthblc {
    text-align: center;
    padding: 14px !important;
  }
  .swe {
    color: #232323;
    letter-spacing: 2px;
    font-size: 11px !important;
  }
  .restaur {
    color: #383737;
    letter-spacing: 1px;
    font-size: 10px !important;
  }
  .oyoims{
    height: 27px !important;
  }
  .olaup{
    height: 29px !important;
  }
  .swiggysd{
    height: 29px !important;
  }
  .vl {
    border-left: 2px solid #626562;
    height: 19px;
    margin-top: 32px;
    margin-left: 10px !important;
  }
  .fifth_paragraph {
    height: auto;
    background: #848484;
    z-index: -5;
    padding-bottom: 13px;
    margin-top: -12% !important;
  }
  .brandsw{
    font-size: 28px !important;
    color: black;
    letter-spacing: 4px;
  }
  .skin_co{
    padding-left: 38px;
  }
  .eightparagraph{
    margin-top: 0px !important;
  } 
    .rightsd{
      margin-left: 15px !important;
    }
  .scte {
    font-size: 15px !important;
    letter-spacing: 1.8px;
    line-height: 1.6;
    padding-bottom: 40px;
  }
  .ourfranchise {
    height: auto;
    margin: 13px !important;
    border: 1px solid whitesmoke;
  }
  .innerfrnhe {
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: #464545;
    margin-top: -26px;
    margin-left: 32%;
    margin-right: 30%;
    font-weight: bold;
    margin-top: -3% !important;
  }
  .innerneed {
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 2.2;
    padding-bottom: 20px;
  }
  .sqfit {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 7px !important;
  }
  .througapp {
    color: #fff;
    text-align: center;
    font-size: 27px !important;
  }
  .mangebusiness {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 2.2;
    margin-top: -14px;
  }.revolution {
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 2.2;
    margin-top: -12px;
  }
  .middlastbloc{
    text-align: left !important;
  }
  .lastblocky .unqe {
    font-size: 14px;
  }
  .grnyou{
    padding-left: 18px !important;
  }
  .spmodel {
    font-size: 16px;
    color: black;
  }
  .unsalond{
    font-size: 16px;
    line-height: 18px !important;
    padding-bottom: 19px;
    padding-top: 13px !important;
  }
  .iconmessge{
    text-align: center;
    margin-top: -30px;
  }
  .toknow{
    text-align:center;
    padding-bottom: 0px !important;
  }
  .sendmessage{
    text-align: center;
   
  }
  .salonindus{
    padding-left: 46px;
  }
  .lastblocky {
    padding: 30px;
    letter-spacing: 1.4px;
    font-family: inherit;
    padding-left: 53px;
  }
  .loreal{
    height: 26px !important;
  }
  .cysteine{
    height: 40px !important;
  }
  .skinco{
    padding-bottom: 10px;
  }
  .contacticon{
    height: 30px;
  }
  .moneycomn{
    height: 30px;
    margin-top: -21px;
  }
  .ctnsd{
    margin-bottom: 0px !important;
  }
  .vlsa {
    border-left: 1.5px solid #777474;
    height: 60%;
    margin-top: 14px;
    margin-left: 20px;
  }
  .numer{
    margin-left: -27px;
  }
}
